
<div class="container">
	<div class="row">
		<div class="col-md-12 appt-list">

			<fieldset>

				<!-- Form Name -->
				<legend>
					<h3 class="text-primary">About Page</h3>
				</legend>
				<p>{{ message }}</p>
				<section class="author-box" itemprop="author" itemscope itemtype="https://schema.org/Person"><h4 class="author-box-title">About <span itemprop="name">Lokesh Gupta</span></h4><div class="author-box-content" itemprop="description"><p>Founded HowToDoInJava.com in late 2012. I love computers, programming and solving problems everyday. A family guy with fun loving nature. You can find me on <a href="https://facebook.com/howtodoinjava" rel="external nofollow">Facebook</a>, <a href="https://twitter.com/howtodoinjava" rel="external nofollow">Twitter</a> and <a href="https://plus.google.com/+LokeshGupta" rel="external nofollow">Google Plus</a>.</p></div></section>
			</fieldset>
		</div>
	</div>
</div>
